
.homepage-hero-module {
    border-right: none;
    border-left: none;
}
.no-video .videocont video,
.touch .videocont video {
    display: none;
}
.no-video .videocont .poster,
.touch .videocont .poster {
    display: block !important;
}
.videocont {
    position: relative;
    bottom: 0%;
    left: 0%;
    /* height: 100%;
    width: 100%; */
    overflow: hidden;
    background: #000;
}
.videocont video {
    position: absolute;
    z-index: 10;
}
